
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Tajawal', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

.layout{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

/* *********** header *********** */
.toolbar {
    /* justifyContent: "space-between", maxWidth: "800px", marginLeft: 'auto', 
    marginRight: 'auto' */
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right:auto;
    max-width: 650px;
}

.header-title {
    font-family: 'Amiri', sans-serif;
    color: black;
    opacity: 0.7;
    font-size: 2rem;
}

@media (max-width: 369px) {
    .header-title {
        font-size: 1.5rem;
        opacity: 0.5;
        
    }
}

/******** footer ***********/
.footer {
    /* position: fixed;
    left: 0;
    bottom: 0; */
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #276ac6;
    padding: 5px;
    font-family: "Tajawal";
    font-size: 1rem;
    color: white;
}

/******** HERO *********/

.hero-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto 20px auto;
    width: 90%;
    max-width: 600px;
    direction: rtl;
}
.hero-img {
    width: 100%;
    margin: 0 auto 0 auto;
}
.hero-title {
    position: relative;
    margin-top: 10px;
    font-weight: 600;
    font-size: 2.2rem;
    width: 100%;
    padding-right: 1em;
    font-family: 'Tajawal', sans-serif;
}

.hero-title:before{
    content: '';
    position: absolute; 
    right: 0;
    top: 0;
    height: 100%;
    width: 10px;
    display: block;
    background-color: #ebca47;
}

.footer{
  font-family: 'Tajawal', sans-serif;
}

.btounsi {
    display: flex;
    justify-content: center;
    margin: 1em auto 1em auto;
}

.smallBtounsi {
    display: inline-block;
}

.bigBtounsi {
    display: none;
}

.post {
    display: flex;
    height: auto;
    width: 95%;
    max-width: 600px;
    justify-content: flex-end;
    margin: 1.5em auto 1.5em auto;
}

.body-btounsi {
    display: none;
}

.verticalBtounsi {
    display: none;
}

@media (min-width: 600px) {
    /* .btounsi {
        display: none;
    } */

    .verticalBtounsi {
        display: block;
    }

    .smallBtounsi {
        display: none;
    }
    
    .bigBtounsi {
        display: inline-block;
       
    }
    
    .body-page {
        display: flex;
        max-width: 600px;
        margin: 0 auto 0 auto;
        flex-direction: column;
    }
    .body-content {
        align-self: flex-end;
    }
    .body-btounsi {
        display: inline-block;
    }
}

/* .post + .post {
    margin: .5em auto .5em auto;
} */

.post-img {
    flex-shrink: 0;
    width: 96px;
    height: 80px;
}

.post-title {
    font-family: 'Tajawal', sans-serif;
    padding-right: .5em;
    font-size: 1.25rem;
    font-weight: 600;
    direction: rtl;
    width: auto;
}

/************* single post/blog ***************/
.blog-template {
    direction: rtl;
    font-family: 'Tajawal', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0 auto 20px auto;
    width: 90%;
    max-width: 600px;

    

}

.blog-title {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.5rem;
    width: 100%;
    padding-right: 1em;
    font-family: 'Tajawal', sans-serif;
}

.blog-title:before{
    content: '';
    position: absolute; 
    right: 0;
    top: 0;
    height: 100%;
    width: 10px;
    display: block;
    background-color: #ebca47;
}

.blog-img {
    width: 100%;
    margin: 0 auto 1em auto;
}

.blog-content {
    font-size: 20px;
    font-weight: 400;
    width: 95%;
    margin: .5em auto .5em auto;
    line-height: 30px;
}

.error-msg {
    display: flex;
    justify-content: center;
    font-family: 'Tajawal', sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    color: red;
}